
html {
    font-size: 10px;
    background-color: #a9a9a9;
}

    body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

header {
    background:greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
}

header img {
    height: 60px;
    width: 60px;
    margin-right: 60px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: greenyellow;
    text-align: center;
}

nav li {
display: inline-block;
  }

nav a {
    text-decoration: none;
    padding: 60px; 
    font-size: 15px;
}
  